
@keyframes mobilemenu {
    from {
        margin-left: 104%;
    }

    to {
        margin-left: 4%;
    }
}
@keyframes SlideMob2 {
    from {margin-left:110%;}
    to{
    margin-left: 4%;}
    }
    @keyframes SlideMob3 {
    from {margin-left:4%;}
    to{
    margin-left: 110%;}
    }
    @keyframes SlideMob4 {
    from {margin-left:-110%;}
    to{
    margin-left: 4%;}
    }
    
    @keyframes SlideMob1 {
    from {margin-left:4%;}
    to{
    margin-left: -110%;}
    }
    
@keyframes RightLeftBtnVis {
    from{
        background-color: transparent;
    }
    to {
        background-color: black;
    }
}
@keyframes RightLeftBtnHid {
    from{
        background-color: black;
    }
    to {
        background-color: transparent;
    }
}
@keyframes ScrollRightPC {
    from{
        margin-left:0%;
    }
    to {
        margin-left: -48.5%;
    }
}
@keyframes ScrollRight2PC {
    from{
        margin-left: -48.5%;
    }
    to {
        margin-left: 0%;
    }
}
@keyframes ScrollRightLap {
    from{
        margin-left:0%;
    }
    to {
        margin-left: -63.5%;
    }
}
@keyframes ScrollRight2Lap {
    from{
        margin-left: -63.5%;
    }
    to {
        margin-left: 0%;
    }
}
@keyframes ScrollLeftPC {
    from{
        margin-left:0%;
    }
    to {
        margin-left: 10.5%;
    }
}
@keyframes ScrollLeft2PC {
    from {
        margin-left: 10.5%;
    }
    to{
        margin-left:0%;
    }
}
@keyframes ScrollBtnVis{
    from{
        background-color: rgba(0,0,0,0.0);
    }
    to{
        background-color: rgba(0,0,0,0.4);
    }
}
@keyframes ScrollBtnHid{
    from{
        background-color: rgba(0,0,0,0.4);
    }
    to{
        background-color: rgba(0,0,0,0);
    }
}
@keyframes mobilemenu2 {
    from {
        margin-left: 4%
    }

    to {
        margin-left: 104%;
    }
}
@font-face {
    font-family: 'Be Vietnam Pro Light';
    src: url(./BeVietnamPro-Light.ttf);
}

@font-face {
    font-family: 'Be Vietnam Pro';
    src: url(./BeVietnamPro-SemiBold.ttf);
}
@font-face {
    font-family: 'Be Vietnam Pro Thin';
    src: url(./BeVietnamPro-Thin.ttf);
}