.Avatar_img {
    width: 15%;
    margin-top: -8%;
}
.burger__menu_Blck {
    visibility: hidden;
}
.btnTop {
    position: absolute;
    width: 10%;
    padding-top: 1%;
    padding-bottom: 1%;
    bottom: 0%;
    right: 10%;
    border-radius: 50px 50px 50px 50px;
    background-color: hsl(12, 88%, 59%);
}
.btnStart {
    color: white;
    font-size: 9px;
}
.btnTop:hover {
    background-color: hsla(12, 88%, 59%, 0.6);
}
.btnTop2 {
    position: absolute;
    margin-top: 3%;
    left: 2%;
    width: 25%;
    padding-top: 2%;
    padding-bottom: 2%;
    border-radius: 50px 50px 50px 50px;
    background-color: hsl(12, 88%, 59%);
}
.btnTop2:hover {
    background-color: hsla(12, 88%, 59%, 0.6);
}
.btnTop3 {
    position: absolute;
    bottom: -35%;
    left: 45%;
    width: 10%;
    padding-top: 1%;
    padding-bottom: 1%;
    border-radius: 50px 50px 50px 50px;
    background-color: hsl(12, 88%, 59%);

}
.btnTop3:hover {
    background-color: hsla(12, 88%, 59%, 0.6);
}
.btnTop4 {
    width: 9%;
    margin: auto;
    position: relative;
    top: 50%;
    margin-left: 82%;
    border-radius: 50px 50px 50px 50px;
    background-color: white;
    padding: 1% 0 !important;
    border: none;
    outline: none;
}
.btnTop4>.btnStart {
    font-size: 71.4%;
    color: hsl(12, 88%, 59%);
}
.btnTop4:hover a {
    color: hsla(12, 88%, 59%, 0.6);
}
.close_menu {
    height: 3px;
    padding-bottom: 1px !important;
    width: 22% !important;
    position: absolute;
    rotate: 45deg !important;
    background-color: hsl(228, 39%, 23%);
    top: 100%;
}

.close_menu:nth-child(2) {
    rotate: -45deg !important;
}

.CircleChild1{
    height: 9px;
    border-radius: 25px;
    position: absolute;
    right: 0%;
    bottom: 0%;
    width: 9px;
    background-color: hsl(12, 88%, 59%);
}
.CircleChild2{
    margin-right: 11px;
}
.paleCircle{
    background-color: rgb(249, 143, 117);
}
.secondCircle{
    top: 2px;
}
.CircleBlckChild{
    margin-top: 35%;
    width: 80%;
    margin-right: 1%;
    float: right;
    position: inherit;
    height: 30%;
}
.CircleBlckChild2{
    margin-top: 0%;
}
.SlideMenu{
    margin-top: 5%;
    position: relative;
    -webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
-o-user-select: none;
user-select: none;
}
#firstScroll{
    margin-left: -4.5%;
}
.SlideBlck{
    margin-top: 6%;
}
body {
    font-family: 'Be Vietnam Pro';
    font-size: 120%;
    overflow-x: hidden;
    background-image: url(./bg-tablet-pattern.svg), url(./bg-tablet-pattern.svg);
    background-repeat: no-repeat;
    position: absolute;
    background-position-y: 23%, -155%;
    background-position-x: 115%, -60%;
    background-size: 50%;
}


.menuBlck {
    width: 100%;
    position: absolute;
}
.navMenu{
    width: 60%;
    margin-top: 500%;
}
.menuBtn {
    cursor: pointer;
    color: rgb(33, 37, 47);
    margin-left:6%;
    margin-top: 101.5%;
}

.scroll {
    width: 700px;
    overflow-wrap: normal;
    overflow-x: scroll;
}
#scrollBtn2 {
    right: 2%;
}

.footerItem {
    color: white;
    font-family: 'Be Vietnam Pro';
    background-color: hsl(12, 88%, 59%);
}

.footerItem>h2 {
      margin: 0;
      margin-left: 15%;
      position: absolute;               
      top: 50%;                          
      transform: translate(0, -50%) }

.footerItem>img {
    margin-top: -9%;
    width: 40%;
    margin-left: 12%;
}

.footerItem {
    margin-left: 0%;
    position: relative;
    overflow: hidden;
    margin-top: 12%;
    padding: 5.3% 0;
    background-image: url(./bg-tablet-pattern\ copy.svg), url(./bg-tablet-pattern\ copy.svg);
    background-repeat: no-repeat;
    background-size: 40%;
    background-position-y: 15%,129%;
    background-position-x: 25%,140%;
}
.footerMenuChild{
    height: 30%;
    margin-top: 1%;
    width: 20%;
    position: inherit;
    padding: 0;
}
.footMenuMngParent{
    padding: 0;
    position: absolute;
    right: 0%;
    bottom: 0%;
    height: 60%;
    width: 80%;
}
.MngChild{
    padding: 0;
    float: right;
    font-size: 200%;
    height: 100%;
    width: 50%;
}
.footCircle{
    height: 40%;
    width: 18%;
    display: block;
    position: absolute;
    right: 0%;
    bottom: 20%;
    border-radius: 50px;
    background-color: rgb(242, 99, 69);
}
.paleCircle2{
    background-color: rgb(133,69,59);
}
.footCircle2{
    right:25%;
}
.footCircle3{
    top:10%;
}
.footCircleChld{
    float: right;
    margin-top: 10%;
    width: 51%;
    height: 40%;
    position: relative;
}
.footCircleChld2{
    margin-top: 0%;}
.MngChild>p{
    margin: 0;
    color: white;
    position: absolute;
    margin-left: 3%;
        top: 50%;                        
        transform: translate(0, -50%);}
.footCircleParent{
    float: right;
    width: 30%;
    height: 100%;}
.footerMenuParent {
    overflow: hidden;
    height: 90%;
}

.footerMenu {
    margin-top: 0%;
    width: 100%;
    overflow-y: hidden;
    height: 30%;
    background-color: hsl(233, 12%, 13%);
}

#ImgfooterItem {
    margin-top: -35%;
    margin-left: 80%;
}
.footerItem{
    position: relative;
}
.scrollBtn {
    margin-left: 2%;
    margin-top: -7.5%;
    border: 0px;
    background-color: transparent;
    width: 5%;
    position: absolute;
}
#firstScroll {
    margin-left: -4.5%;
    border-left: 0px black solid;
}

.saidBlck>center>h5 {
    color: hsl(228, 39%, 23%)
}

.saidBlck>p {
    text-align: center;
    font-size: 110%;
    padding-bottom: 4%;
    color: hsl(227, 12%, 61%);
    font-family: 'Be Vietnam Pro Light';
}
.saidBlck {
    background-color: rgb(250, 250, 250);
    padding: 0;
    width: 20%;
    margin-left:2%;
}
@media (min-width:1440px){
#secondScroll>p{
    padding-left: 21% !important;
    padding-right: 21% !important;
}}
#secondScroll>p{
    padding-left: 8%;
    padding-right: 8%;
}
.SlideBlck{
    width: 180%;
}
.greetings {
    color: hsl(228, 39%, 23%);
}
.greetings>p {
    font-family: 'Be Vietnam Pro Light';
    font-size: 100%;
    color: hsl(227, 12%, 61%);
}

.steps>p {
    margin-left: 20%;
    font-family: 'Be Vietnam Pro Light';
    font-size: 100%;
    color: hsl(227, 12%, 61%);
}
.padding {
    padding-left: 10.3%;
    padding-top: 5.2%;
    height: 80%;
}
.index{
    height:100%;
}
.stepsBlckParent{
    margin-top: 10%;
    margin-left: 9%
}
.index>.row{
    height: 100%;
}
.info,.rating,.percent{
    height:40%;
}
.percent{
    height:40%;
}
.index {
    padding-left: 150px;
}
.index>div>.row{
    height: 100%;
}
body{
    height: 100%;
}
.rating {
    box-shadow: 0px 0px 15px rgb(33, 37, 47);
    width: 50%;
    margin-left: -10%;
    background-color: hsl(0, 0%, 98%);
    outline: 10px white solid;
}

.rating>hr {
    margin-left: -11%;
    margin-bottom: 0%;
    margin-top: 10%;
    width: 122%;
}

.ratingLvl {
    position: absolute;
    top: 49%;
    background-color: hsl(12, 88%, 59%);
    border-radius: 0px 0px 5px 5px;
    width: 15%;
    margin-left: -3%;
    height: 20%;
}

.innerRatingLvl {
    position: absolute;
    top: 80%;
    width: 100%;
    height: 50%;
    border-radius: 0px 0px 5px 5px;
    background-color: hsl(228, 39%, 23%);
}

.RatingLvlChildnum2 {
    height: 140%;
    top: 100%;
}

.RatingLvlChildnum3 {
    height: 71%;
    top: -63%;
}

.RatingLvlChildnum4 {
    border-radius: 5px 5px 0px 0px;
    height: 300%;
    top: 80%;
    background-color: hsl(12, 88%, 59%);
}

.withoutTop {
    padding-top: 0px;
}

.RatingLvlChildnum5 {
    top: -120%;
    height: 175%;
    background-color: hsl(12, 88%, 59%);
}

.steps>h6 {
    margin-left: 20%;
    color: hsl(228, 39%, 23%);
}

.stepBtn {
    float: left;
    background-color: hsl(12, 88%, 59%);
    color: white;
    padding: 1.25% 5%;
    border-radius: 50px 50px 50px 50px;
}

.Lvl2 {
    top: 32%;
    margin-left: 17%;
    border-radius: 5px 5px 0px 0px;
}

.Lvl3 {
    top: 69%;
    height:28.5%;
    margin-left: 37%;
    border-radius: 0px 0px 5px 5px;
}
.Lvl4 {
    background-color: hsl(228, 39%, 23%);
    top: 13%;
    height: 10.2%;
    margin-left: 57%;
    border-radius: 5px 5px 0px 0px;
}

.Lvl5 {
    background-color: hsl(228, 39%, 23%);
    top: 68%;
    height: 14.56%;
    margin-left: 74%;
    border-radius: 0px 0px 5px 5px;
}

#hr_one {
    margin-top: 5%;
}
.ParentBlck{
    width: 60%;
    height: 40%;
    position: absolute;
    right: 0%;
    bottom: 0%;
}
.manageBlckParent{
    width: 70%;
    height: 100%;
    float: right;
    position: relative; 
}
.CircleBlckParent{
    width: 20%;
    position: relative;
    float: right;
    margin-top: 0%;
    height: 100%;
}
.leftScrollParent{
    position: absolute;
    background-color: rgba(0,0,0,0.0);
    width: 70px;
    left: 2%;
    border-radius: 50px;
    top: 60%;
    z-index: 999999;
    height: 70px;
    box-shadow: none;
    border: none;
    outline: none;
}

.rightScrollParent{
    position: absolute;
    background-color: rgba(0,0,0,0.0);
    width: 70px;
    box-shadow: none;
    border: none;
    outline: none;
    right: 2%;
    border-radius: 50px;
    top: 60%;
    z-index: 999999;
    height: 70px;
}
.rightScroll{
    display: block;
    background-color: transparent;
    width: 80%;
    rotate: 25deg;
    margin-top:0px;
    margin-left: 10px;
    height: 3px;
}
.rightScroll2{
    rotate: -25deg;
    margin-top: 16px;
}
.leftScroll{
    display: block;
    background-color: transparent;
    width: 80%;
    rotate: -25deg;
    margin-top:0px;
    margin-left: 0px;
    height: 3px;
}
.leftScroll2{
    rotate: 25deg;
    margin-top: 16px;
}

.info {
    box-shadow: 0px 0px 15px rgb(33, 37, 47);
    margin-left: 10%;
    width: 50%;
    background-color: white;
    border: none;
    outline: 10px white solid;
}
.totalScore {
    border-radius: 2.5px;
    background-color: hsl(0, 0%, 98%);
    margin-top: 5%;
    height: 50%;
    display: flex;
    align-items: flex-end;
    margin-left: -2.5%;
    color: black;
    width: 105%;
}

.totalScore>span {
    font-size: 250%;
    margin-left: 5%;
    font-family: 'Be Vietnam Pro';
}

.indexLastMonth {
    background-color: hsl(0, 0%, 98%);
    border-radius: 5px 5px 5px 5px;
    margin-top: -4%;
    height:35%;
    margin-right: -2.5%;
    width: 50%;
    float: right;
    display: flex;
    align-items: flex-end;
    color: black;
}
.diffLastAndToday {
    display: flex;
    align-items: flex-end;
    border-radius: 5px 5px 5px 5px;
    background-color: hsl(12, 88%, 59%);
    margin-top: -4%;
    height:35%;
    margin-left: -2.5%;
    float: left;
    width: 50%;
    color: white;
}
.totalScore>span{
margin-bottom: 5%;
}
.diffLastAndToday>span,.indexLastMonth>span{
    margin-bottom: 10%;
}
.percent {
    box-shadow: 0px 0px 15px rgb(220, 220, 220);
    margin-left: 15%;
    margin-top: 10%;
    width: 53%;
    background-color: white;
}

.menuBlck {
    position: absolute;
    bottom: 10%;
    margin-left: 23%;
}
.circle {
    margin-left: 23.5%;
    width: 1.3%;
    height: 5px;
    border-radius: 50px 50px 50px 50px;
    margin-top: 12%;
    position: absolute;
    background-color: hsl(12, 88%, 59%);
}

#circle2 {
    margin-left: 25.4%;
}

.circle2 {
    margin-top: 10.1%;
}

#paleCircle {
    margin-left: 25.4%;
    background-color: rgb(235, 178, 169);
}

.footerNav {
    font-family: 'Be Vietnam Pro Light';
    height: 50%;
    margin-left: 15%;
    width: 20%;
    float: left;
    top: 0%;
    position: relative;
    list-style-type: none;
    color: hsl(0, 0%, 98%);
}
.footerMenu > div.col-md-8.col-sm-8.col-xs-8{
    height: 80%;
    width: 50%;
    float: left;
    top: -10%;
    position: relative;
}
.footerNav2 {
    font-family: 'Be Vietnam Pro Light';
    list-style-type: none;
    color: hsl(0, 0%, 98%);
    height: 50%;
    margin-left: 20%;
    width: 20%;
    float: left;
    top: 0%;
    position: relative;
}

.footerNav>li, .footerNav2>li{
    cursor: pointer;
    margin-top: 18%;
    white-space: nowrap;
    width: 0%;
}
.footerInbox>span{
    color: red;
    margin-left: 2%;
    position: absolute;
}
.footerNav > li:nth-child(1),.footerNav2 > li:nth-child(1){
    margin-top: -4%;
}
#fourBlck {
    width: 8%;
}

#fourBlck2 {
    width: 14%;
}

.footerNav>li:hover {
    color: hsl(12, 88%, 59%);
}

.footerNav2>li:hover {
    color: hsl(12, 88%, 59%);
}


.massengerBlck {
    height:100%;
    width:80%;
    margin-top: 0%;
    position: absolute;
    right: 0%;
}

.massengerBlck>img {
    width: 8%;
    margin-left: 6%;
    float: right;
}
.massengerBlckParent{
    height: 8%;
    width: 22%;
    margin-top: 5%;
    float: left;
    clear: left;
    position: relative;
}
button {
    box-shadow: 0px 2px 10px hsla(12, 88%, 59%, 0.6);
}
.footerMenuChild>p {
    margin-left: 30%;
    margin-top: 4.2%;
    font-size: 30px;
    font-family: 'Be Vietnam Pro';
    color: white;
}
.footerInbox{
    position: relative;
    float: left;
}
.footerInbox>input{
    position: relative;
    left: 0%;
    background-color: rgb(255,255,255);
    width: 65%;
    margin-top: 0%;
    padding-top: 4.5%;
    padding-bottom: 4.5%;
    border-radius: 50px;
    font-family:'BeVietnamPro-Light';
    outline: none;
    padding-left: 15px;
    border: none;
}
.footerInbox>button{
    position: relative;
    left: 3%;
    outline: none;
    box-shadow: none;
    color: white;
    font-size: 10px;
    background-color: hsl(12, 88%, 59%);
    border: none;
    padding-top: 4.5%;
    padding-bottom: 4.5%;
    width: 20%;
    border-radius: 50px;
}
.footerInbox>p{
margin: 15% auto;
float: right;
margin-right: 15%;
color: gray;
}
.footerInbox{
    top: -10%;
    height: 80%;
    float: left;
    position: inherit;
    left: 0%;
    width: 28%;
}
.footerInbox>button:hover {
    background-color: rgb(249, 143, 117);
}

.menuBtn:hover {
    color: rgba(33, 37, 47, 0.4);
}

a:hover {
    color: white;
    text-decoration: none;
}

.manageBlck{
    width: 23%;
    position: inherit;
    height:100%;
}
.managerTxt {
    color: hsl(228, 39%, 23%);
    font-size: 250%;
    margin: 0;
    position: absolute;              
    top: 50%;                        
    transform: translate(0, -50%)
}

.scrollBtn {
    box-shadow: none;
}

.stepBtn {
    box-shadow: none;
    outline: none !important;
    border: none !important;
}
.stepBtn:hover{
    cursor: auto;
    color: white !important;
}
@media (min-width:1250px) and (max-height:800px) and (min-height:800px){
    .footCircle{
        height: 47%;
        width: 27%;
        right: 3%;
    }
    .btnTop3{
        bottom: -25%;
    }
    .MngChild>p {
        font-size: 30px;
        top: 46.7%;
        margin-left: 0%;
    }
    .footCircle2{
        right: 35%;
    }
    .massengerBlckParent > div > img{
        width: 10%;
        height: 100%;
    }
    .massengerBlck{
        margin-top: 3%;
        right: -5%;
    }
    .ratingLvl{
        margin-left: -6%;
    }
    .footerInbox>p{
    white-space: nowrap;
    }.Lvl2{
        margin-left: 14%;
    }
    .Lvl3{
        margin-left: 34%;
    }
    .Lvl4{
        margin-left: 54%;
    }
    .Lvl5{
        margin-left: 72%;
    }
    .totalScore>span {
        font-size: 240%;
    }
    .padding{
        height: 70%;
    }
    .stepsBlckParent{
        margin-top: 0%
    }
    .diffLastAndToday,.indexLastMonth{
        margin-top: -10% !important;
    }
    .info, .rating, .percent {
        height: 35%;
    }
    .info>img{
        margin-top: 10% !important;
    }
    body > div.row.stepsBlckParent > div.col-md-5.col-sm-5.col-xs-8.greetings > h1{
        white-space: nowrap;
        font-size: 32px;
        margin-top: 0 !important;
    }
    body{
    background-position-y: 17%, -150%;
    background-position-x: 115%, -50%;
    }
@media (max-width:1100px) and (max-height:600px){
    body{
    background-position-y: 17%, -154%;
    background-position-x: 115%, -50%;
    }
    .stepsBlckParent{
        margin-top: 2%;
    }
    .massengerBlck>img{
        width: 11% !important;
        height: 130% !important;
    }
    .totalScore>span {
        font-size: 210%;
    }
    .MngChild>p{
    font-size: 25px;
    }
}
}
@media (max-width:950px) and (max-height:1400px){
    .greetings{
        margin-left: -3% !important;
    }
    body > div.nav.navbar.container-fluid{
        height: 10% !important;
    }
    .CircleChild1{
        height: 6px !important;
        width: 6px !important;
    }
    .CircleChild2{
        margin-right: 8px;
    }
    .manageBlck{
        width: 15%;
    }
    .managerTxt{
        font-size: 200%;
    }
    .CircleBlckChild{
    margin-top: 75%;
    }
    .CircleBlckChild2{
    margin-top: 0%;
    }
    .menuBtn{
        font-size: 10px !important;
    }
    .btnTop{
        width: 13%;
        right: 5%;
        padding: 1.5% 0 !important;
    }
    .aboutProduct > h1{
        font-size: 28px;
    }
    .info,.percent,.rating{
        height: 35%;
        width: 75%;
    }
    .rating{
        margin-left: -65%;
    }
    .info{
        margin-left: 15%;
    }
    .info > img{
        height: 100%;
        width: 100%;
        margin-left: 0% !important;
        margin-top: 3% !important;
    }
    .percent{
        margin-left: -10%;
    }
    .index{
        margin-left: 5%;
    }
    .totalScore > span{
        font-size: 200% !important;
    }
    .diffLastAndToday,.indexLastMonth{
        margin-top: -10%;
    }
    .ratingLvl{
        margin-left: -8%;
    }
    .Lvl2{
        margin-left: 12%;
    }
    .Lvl3{
        margin-left: 32%;
    }
    .Lvl4{
        margin-left: 52%;
    }
    .Lvl5{
        margin-left: 70%;
    }
    .btnTop2{
        padding: 3.5% 0;
        width: 35%;
    }
    .padding{
        margin-top: 10%;
        height: 40%;
    }
    .withoutTop{
        margin-left: -8%;
    }
    .steps>p{
        font-size: 90%;
    }
    body{
        height: 100% !important;
    background-position-y: 17%, -215%;
    background-position-x: 115%, -50%;
    }
    .saidBlck{
        width: 22%;
    }
    .footerItem{
        padding: 8% 0 !important;
        margin-top: 15%;
    }
    .btnTop3{
        width: 13%;
        left: 42%;
    }
    .SlideMenu{
        margin-top: 8%;
    }
    .stepsBlckParent{
        margin-top: 0%;
    }
    .btnTop4{
        width: 10% ;
    }
    .footerMenu > div.col-md-8.col-sm-8.col-xs-8,.footerInbox{
        height: 75% !important;
    }
    .footerItem>h2{
        font-size: 22px !important;
    }
    .saidBlck>p{
        font-size: 85%;
    }
    .footCircle{
        height: 35%;
        width: 40%;
        bottom: 0%;
    }
    .footCircle2{
        right: 50% !important;
    }
    .footCircle3{
        top: 20% !important;
    }
    .massengerBlck{
        margin-top: 35% !important;
        width: 140%;
        right: -40%;
    }
    .footerNav>li{
        margin-top: 22% !important;
    }.footerNav>li,.footerNav2>li{
        font-size: 15px;
        margin-bottom: 60% !important;
    }
    .massengerBlckParent > div > img{
        width: 10%;
        height: 70%;
        margin-left: 4%;
    }
    .footerInbox>input,.footerInbox>button{
        font-size: 9px;
    }
    body > div.row.stepsBlckParent > div.col-md-5.col-sm-5.col-xs-8.greetings > h1{
        white-space: nowrap;
        font-size: 26px;
        margin-top: 0 !important;
    }
    .footerInbox>p{
        margin: 50% auto;
        white-space: nowrap;
    }
    .footerNav > li:nth-child(1), .footerNav2 > li:nth-child(1) {
        margin-top: -4% !important;
    }
    .MngChild>p {
        top: 44%;
        font-size: 34px;
    }
}

@media (max-width:450px) and (max-height:950px){
    .navMenu,.btnTop{
        visibility: hidden;
    }
    .burger__menu_Blck{
        height: 30%;
        visibility: visible;
        margin-top: -6%;
        width: 10%;
        float: right;
    }
    .burger__menu_Blck>button:nth-child(1){
        background-color: transparent;
        border: none;
        outline: none;
        box-shadow: none;
    }
    .burger_menu{
    display: block;
    height: 6px;
    margin-top: -60%;
    width: 25px;
    background-color: hsl(228, 39%, 23%);
    }
    .index{
        margin-top: 0%;
    }
    .info,.percent,.rating{
        height: 40% !important;
        width: 60% !important;
    }
    .diffLastAndToday,.indexLastMonth{
        margin-top: -5% !important;
        height: 30% !important;
        width: 49% !important;
    }
    .totalScore{
        margin-top: 10% !important;
        height: 45% !important;
    }
    .percent{
        margin-left:-15% !important;
    }
    .rating{
        margin-left: -55% !important;
    }
    .greetings{
        position: absolute;
        margin-top: 70%;
        margin-left: 7.5% !important;
        text-align: center;
    }
    .greetings>h1{
        line-height: 150%;
    }
    .greetings>p{
        line-height: 215%;
    }
    .aboutProduct{
        position: absolute;
        visibility: visible;
        margin-left:-7.5% !important;
        margin-top: 80% !important;
        text-align: center;
    }
    .stepsBlckParent>.greetings>h1{
        white-space: normal !important;
        width: 100% !important;
    }
    .steps:nth-child(1){
        margin-top: 200%;
    }
    .steps>p{
        width: 145% !important;
        font-size: 12px !important;
        line-height: 220%;
        margin-left: 20% !important;
    }
    .stepBtn{
        height: 30px !important;
        width: 50px !important;
    }
    .steps>h6{
        margin-top: 0%;
        width: 180% !important;
        margin-left: 18%;
        padding-top: 8.5px;
        padding-left: 25px !important;
        height: 30px;
        background-color: rgb(235, 178, 169);
    }
    .SlideBlck{
    width: 500%;
    }
    .saidBlck{
        width: 17% !important;
    }
    #h3Elem{
        font-size: 30px !important;
    }
    .steps{
        margin-left: -20% !important;
    }
    .btnTop2{
        margin: 0 auto;
        padding: 2% 0;
        left: 0% !important;
        width: 30%;
        right: 0% !important;
    }
    .btnTop2>a{
        font-size: 10px;
    }
    .aboutProduct>p{
        width: 60%;
        margin-left: 19%;
        line-height: 180% !important;
    }
    .aboutProduct>h1{
        line-height: 130%;
    }
    .managerTxt{
        top: 46%;
    }
}
@media (min-width:950px) and (max-width:1100px){
    .rating{
        position: relative;
        left:-5%;
        height: 145px;
    }
    .info{
    width: 50%;
    height: 145px;
    }
    .info>img{
        position: absolute;
        left:0;
    }
    .rating>hr{
        position: relative;
        left:-11%;
        margin-left: 0%;
        width:125%;
        margin-top: 11%;
    }
    .ratingLvl{
        left:7%;
    }
    .totalScore>span{
        font-size: 200%;
    }
    .saidBlck>p {
        font-size: 90%;
}
.massengerBlck>img {
    width: 13%;
}
.massengerBlckParent {
    right: -3%;
    position: relative;
}
.footCircle{
    bottom: 10%;
    width: 5px;
    height: 5px;
}
.managerTxt{
    transform: translate(0,-50%);
}
body > div.row.stepsBlckParent > div.col-md-5.col-sm-5.col-xs-8.greetings > h1{
    white-space: pre;
    font-size: 30px;
    margin: 0 auto;
}

body {
    background-position-y: 23%, -185%;
    background-position-x: 115%, -60%;
}
.footCircle3{
    margin-top: 12%;
}
.footCircle2{
    right: 34%;
}
.footerInbox>p{
    white-space: pre;
    margin-right: 10%;
}
.footerInbox>span{
    font-size: 90%;
}
.footerInbox>input{
    width: 70%;
}
@media (max-width:1000px){
    
}
}